body {
    margin: 0;
    font-family: sans-serif;
    background-color: #bbb;
}

.box {
    width: 250px;
    height: 230px;
    margin: auto;
    margin-top: 50px;
    background-color: #fff;
    border: 2px solid #0006;
    white-space: pre-wrap;
}

.box2 {
    width: 250px;
    height: 25px;
    margin: auto;
    margin-top: 50px;
    background-color: #fff;
    border: 2px solid #0006;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.box3 {

    width: 250px;
    height: 270px;
    margin: auto;
    margin-top: 50px;
    background-color: #fff;
    border: 2px solid #0006;
    text-wrap: pretty;
}

h1 {
    text-wrap: balance;
}