body {
    margin: 0;
    font-family: sans-serif;
    color: #ddd;
    background: #222;
}

form {
    background-color: transparent;
    padding: 20px 0px;
    max-width: 500px;
    margin: auto;
    box-shadow: 0px 0px 55px #fff2;
    margin-top: 50px;
    border-radius: 8px;
}

h2 {
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 22px;
    padding: 10px;
}

.form_input {
    padding: 6px 20px;

}

input, textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 6px 12px;
    border: 1px solid #666;
    box-shadow: 0px 0px 15px #0001;
    background-color: transparent;
    color: #ddd;
}

textarea {
    resize: none;
    min-width: 100%;
    font-family: sans-serif;
}

label {
    font-size: 0.8em;
    line-height: 2;
}

.checkbox {
    width: auto;
    height: 10px;
}