body {
    margin: 0;
    font-family: sans-serif;
}

.grid {
    display: grid;
    height: 88vh;
    grid-template-columns: 300px 1fr 4fr; /*   Valor 1FR representa una fraccion del contenido de la cuadricula y divide exacto cada columna o fila con este valor, si el contenido no supera el limite. es igual que flex-grow: 1; */
    grid-template-rows: auto auto;
}

.grid-item {
    background-color: #48e;
    color: #fff;
    padding: 10px;
    margin: 10px;
    font-size: 30px;
}